<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="app">
      <label>Город</label>
      <br />
      <select v-model="request.city" @change="changeCity">
             
        <option v-for="(value,key) in cities" :value="key">
          {{value.name}}
        </option>

            
      </select>
      <br />

      <label>Цех</label>
      <br />
      <select v-model="request.shop" @change="changeShop">
                
        <option
          v-for="(value,key) in cities[request.city].shops"
          v-bind:value="key"
        >
          {{value.name}}
        </option>
            
      </select>
      <br />

      <label>Сотрудник</label>
      <br />
      <select v-model="request.worker">
                
        <option
          v-for="(value,key) in cities[request.city].shops[request.shop].workers"
          v-bind:value="key"
        >
          {{value.lastName}}
        </option>
            
      </select>
      <br />
      <label>Бригада</label>
      <br />
      <select v-model="selectedBrigades">
                
        <option v-for="value in brigades" v-bind:value="value">
          {{value}}
        </option>
            
      </select>

      <br />
      <label>Смена</label>
      <br />
      <template v-for="value in workShifts">
        <input type="radio" v-bind:value="value" v-model="selectedWorkShifts" />
        <label>{{value}}</label><br />
      </template>

      <button @click="sendCookie">Отправить в cookie</button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
